.header{
    .header__img{
        background-image: url(../img/image-banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 7rem;
    }
}